@import '../../assets/fonts/stylesheet.css';


.km-text-lead {
    font-size: $font-size-7;
}

h2 {
    font-size: 20px !important;
    margin-bottom: 1rem;
    font-weight: 700;
}

.main-content {
    h1, 
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 1em;
    }
}

// Benefits Section
// -------------------------------------

.km-benefits__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 4rem;
    font-weight: 700;
    font-size: $font-size-6;

    @include mq(xs) {
        grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    }

    img {
        width: 80px;
    }


}

.km-benefits__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


// Benefits Details Card
// -------------------------------------
.km-benefits__details-wrapper {
    display: grid;

    & > img {
        width: 100px;
        margin-right: auto;
        margin-left: auto;

        @include mq(sm) {
            margin-right: 1rem;
            margin-left: auto;
        }
    }

    @include mq(sm) {
        grid-template-columns: auto 1fr;
    }
}

.km-benefits__details-card {
    div {
        display: flex;
    }
    img {
        width: 32px;
        height: 32px;
        display: inline;
        margin-right: 1rem;
    }

    a {
        display: block;
    }
}

.km-flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8rem;

    img {
        width: 200px;
        height: fit-content;
    }
}

.km-download__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Purple Buttons
// -------------------------------------

.btn-purple {
    background-image: none;
    background-color: $km-button-color;
    box-shadow: none;

    &:hover {
        background-color: darken($km-button-color, 4%);
        background-image: none;
    }
}

.btn {
    border-radius: 0;
    padding: .5rem 2rem;
}

.km-link-hover {
    text-decoration: underline;
    text-decoration-color: $border-color;
    text-underline-offset: 2px;

    &:hover {
        text-decoration-color: rgba($link-color, 0.45);
    }
}

// Press
// -------------------------------------

.km-press__wrapper {
    display: grid;
    grid-template-columns: 40px 2fr 7fr;
    column-gap: 1rem;

    img {
        height: 40px;
        justify-self: center;
    }

    b {
        grid-column: span 2;
       align-self: center;

        @include mq(sm) {
            grid-column: span 1;
            align-self: stretch;
        }
    }

    a {
        grid-column: span 3;
        margin-bottom: 1rem;

        @include mq(sm) {
            grid-column: span 1;
        }
    }
}